{% extends "./base.html" %}
{% load static %}
{% block title %}TPOP Store{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Welcome to TPOP Store!</h1>
        <p class="lead text-muted">Let's find what goods you want.</p>
      </div>
    </div>
  </section>
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>

            <div class="search">
              <form method="get" action="/search/">
                <input type="search" name="query" placeholder="Search...">
                <button class="">Search</button>
              </form>
            </div>

          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <span class="mt-2 fs12 fw300">{{ product.user.username }}</span>
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                  </p>
                  <div class="fw-bold">{{product.price}} baht</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}