{% extends "./base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}


<main>

    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>

            <div class="search">
              <form method="get" action="/search/">
                <input type="search" name="query" placeholder="Search...">
                <button class="">Search</button>
              </form>
            </div>

            <div class="mt-3 fw-light">search results for "{{ query }}"</div>

          </div>

            {% if products %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                    {% for product in products %}
                        <div class="col">
                            <div class="card border-0">
                                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                                <div class="card-body px-0">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none"
                                    href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                                </p>
                                <div class="fw-bold">{{product.price}} baht</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>There are no products matching this query</p>
            {% endif %}

        </div>
      </div>
    </div>
</main>
{% endblock %}